.contact{
    border: solid 1.2px #cecece;
    border-radius: 5px;
    margin: 2px 0px;
}

.contact:hover{
    box-shadow: 0px 2px 6px 0px #cecece;
}

.contact-list{
    list-style: none;
    width: 250px;
}